<div class="container">
  <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
     <h2>Sign up</h2>
     <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
     <%= render "devise/shared/error_messages", resource: resource %>
     <div class="form-group">
        <%= f.label :name ,:class=>"col-md-3 control-label" %>
        <div class="col-md-9">
           <%= f.text_field :name, id: :customer_name,required: true ,:class=>"form-control"%>
           </br>
        </div>
     </div>
     <div class="form-group">
        <%= f.label :email ,:class=>"col-md-3 control-label" %>
        <div class="col-md-9">
           <%= f.email_field :email, autofocus: true, autocomplete: "email",required: true ,:class=>"form-control"%>
           </br>
        </div>
     </div>
     <div class="form-group">
        <%= f.label :phone ,:class=>"col-md-3 control-label" %>
        <div class="col-md-9">
           <%= f.text_field :phone, autofocus: true, autocomplete: "email", required: true ,:class=>"form-control"%>
           </br>
        </div>
     </div>
     <div class="form-group">
        <%= f.label :city ,:class=>"col-md-3 control-label" %>
        <div class="col-md-9">
           <%= f.text_field :city, autofocus: true, autocomplete: "city" ,:class=>"form-control",required: true%>
           </br>
        </div>
     </div>
     <div class="form-group">
        <%= f.label :country ,:class=>"col-md-3 control-label" %>
        <div class="col-md-9">
           <%= f.text_field :country, autofocus: true, autocomplete: "country" ,:class=>"form-control",required: true %></br>
        </div>
     </div>
     <div class="form-group">
        <%= f.label :user_name ,:class=>"col-md-3 control-label" %>
        <div class="col-md-9">
           <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name",:class=>"form-control",required: true %></br>
        </div>
     </div>
     <div class="form-group">
        <%= f.label :password ,:class=>"col-md-3 control-label" %>
        <div class="col-md-9">
           <%= f.password_field :password, autocomplete: "off", :class=>"form-control", :placeholder =>"Password"%></br>
        </div>
     </div>
     <div class="form-group">
        <%= f.label :password_confirmation,:class=>"col-md-6 control-label" %>
        <div class="col-md-9">
           <%= f.password_field :password_confirmation, autocomplete: "off", :class=>"form-control",:placeholder =>"conform Password"%>
        </div>
     </div>
     <div class="form-group">
        <!-- Button -->
        <div class="col-md-offset-3 col-md-9">
           <%= f.submit "Sign up",:class=>"btn btn-info" %>
        </div>
     </div>
     <% end %>
     <%= render "devise/shared/links" %>
  </div>
</div>